@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

.uk-heading-large {
    color: #990000 ;
    text-align: center;
}

.text-rouge-fonce {
    color:#990000;
}

.uk-card-title-center {
    text-align: center;
}

.uk-margin-remove-top {
    text-align: center;
}

p, {
    font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5, a {
    font-family: 'Roboto', sans-serif !important;
}

#navbar-iframe {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

html{
    background-color: #F5F5F5;
    height: 100%;
}

footer {
    background-color: darkred;
    display: flex;
    flex-direction: row;
}

footer > div {
    width: 100%;
}

main {
    margin-left: 4%;
    margin-right: 4%;
}

@media only screen
and (min-width: 2000px) {
    main {
        width: 2000px;
        margin: auto;
    }
}