a {
    text-decoration: none !important;
}

.titre {
    color: #990000;
    text-align: center;
}

.uk-card-title{
    color: white !important;
    font-size: xx-large;
}

.uk-card-body{
    text-align: center;
    font-size: x-large;
    padding: 46px 46px;
}
.uk-card{
    width:74%;
    color: #6D7275;
    margin-left: 13.5%;
    
}

.uk-card-header{
    margin left: 10% ;
}

.uk-text-meta {
    color: black;
}

.uk-card-body{
    color: white;
}

.uk-button-text{
    color: white;
}
.cards {
    height: 100%;
    color: white;
    background-color: #990000;
    text-decoration: none;
}

.cards:hover {
    opacity: 75%;
    transition: 500ms;
}

.div_image {
    max-height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center; 
}

.image {
    width:100%;
    height:300px;
    margin: auto;
}

@media (max-width: 500px) {
    .cards {
        text-align: center;
    }

    .titre {
        font-size: 2rem;
    }
}

.uk-navbar-dropdown-nav > li > a {
    color: rgba(255,255,255,.5);
}

.uk-navbar-dropdown-nav > li > a:hover{
    color: rgba(255,255,255,.7);
}

.uk-navbar-dropdown-nav > li.uk-active > a {
    color: #fff;
}

.descriptionprojet{
    height:225px;
}

.titreprojet{
    height:50px;
}

.carteréseaux{
    height:50px;
}