.entete {

    display: flex;
    flex-direction: row;
    padding: 2%;
    height: 25%;
}

.description {
    padding: 10px;
}

.logo {
    border-color: #990000;
    border-style: solid;
    border-width: 5px;
}

.uk-button-secondary {
    background-color: #990000;
}

.description h2, .description p {
    color: black;
}